# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
.vs/
.idea/
.DS_Store

# Builds
*.apk
*.aab

# Visual Studio generated
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# Crash & build files
sysinfo.txt
*.stacktrace
